body {
    min-height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)100%
    ),
    url("/pixelcoin.png");

  background-size: 100px;
}
.coins{
    display: flex;
    justify-content: center;
}

.bill{display: flex;
    justify-content: center;}
.coin-block {

}
